<h1>Home Page</h1>

<div><%= link_to 'View Teams', teams_path %></div>
<div><%= link_to 'View Matches', matches_path %></div>
<div><%= link_to 'Create Teams', new_teams_creator_path %></div>
<div><%= link_to 'Create Matches', new_matches_creator_path %></div>
<div><%= link_to 'Generate Results', results_path %></div>


<div><%= link_to 'Clear all', destroy_all_path, method: :delete, confirm: 'Are you crazy?' %></div>



