<h1>Results</h1>
<div>
  <%= link_to "Home", root_path %>
</div>

<% @groups.each do |g| %>
  <div style="margin-top:1rem">
    <table>
      <thead>
        <tr>
          <th>Group</th>
          <th>Team Name</th>
          <th>Points</th>
          <th>Number of Goals</th>
          <th>Alternative Points</th>
          <th>Registration Date</th>
        </tr>
      </thead>

      <tbody>
        <% @sorted_results.where(group: g).each_with_index do |r, i| %>
            <tr style="<%= i < 4 ? 'background-color:DarkSeaGreen' : '' %>">
              <td><%= r.group %></td>
              <td><%= r.name %></td>
              <td><%= r.points %></td>
              <td><%= r.goals %></td>
              <td><%= r.alternative_points %></td>
              <td><%= r.registration_date %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
