<%= form_with(model: match) do |form| %>
  <% if match.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
        <% match.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :registration_id, style: "display: block" %>
    <%= form.number_field :registration_id %>
  </div>

  <div>
    <%= form.label :opponent_id, style: "display: block" %>
    <%= form.number_field :opponent_id %>
  </div>

  <div>
    <%= form.label :registration_score, style: "display: block" %>
    <%= form.number_field :registration_score %>
  </div>

  <div>
    <%= form.label :opponent_score, style: "display: block" %>
    <%= form.number_field :opponent_score %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
