<div id="<%= dom_id match %>">
  <p>
    <strong>Team1:</strong>
    <%= match.team1.name %>
  </p>

  <p>
    <strong>Team2:</strong>
    <%= match.team2.name %>
  </p>

  <p>
    <strong>Team1 score:</strong>
    <%= match.team1_score %>
  </p>

  <p>
    <strong>Team2 score:</strong>
    <%= match.team2_score %>
  </p>

</div>
