<div id="<%= dom_id match %>">
  <p>
    <strong>Registration:</strong>
    <%= match.registration_id %>
  </p>

  <p>
    <strong>Opponent:</strong>
    <%= match.opponent_id %>
  </p>

  <p>
    <strong>Registration score:</strong>
    <%= match.registration_score %>
  </p>

  <p>
    <strong>Opponent score:</strong>
    <%= match.opponent_score %>
  </p>

</div>
