<h1>Matches</h1>

<div>
  <%= link_to "Home", root_path %>
</div>

<div id="matches">
  <table>
    <thead>
      <tr>
        <th>Team 1</th>
        <th>Team 2</th>
        <th>Score</th>
      </tr>
    </thead>

    <tbody>
      <% @matches.each do |m| %>
        <tr>
          <td><%= m.team1.name %></td>
          <td><%= m.team2.name %></td>
          <td><%= m.team1_score %> - <%= m.team2_score %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>



