<%= form_with(model: teams_creator) do |form| %>
  <% if teams_creator.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(teams_creator.errors.count, "error") %> prohibited this teams_creator from being saved:</h2>

      <ul>
        <%@teams_creator.errors.messages.values.each do |msg| %>
          <%msg.each do  |m| %>
            <li><%= m %></li>
          <%end %>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_input, style: "display: block" %>
    <%= form.text_area :user_input %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
